/* tiles in home page */
.tileContent {
  background-color: gray;
  padding: 2rem;
  text-align: center;
}

.tileContent > p {
  margin-bottom: 0;
}

.blueBG {
  background-color: #121149;
}

.greenBG {
  background-color: #29285b;
}

.purpleBG {
  background-color: #41406d;
}
/* .blueBG {
  background-color: #383da5;
} */
.redBG {
  background-color: #59587f;
}
.img {
  width: 100%;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.9;
}
